#caculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e67e22;
    cursor:crosshair;
    
}
button:hover{
    background-color: hsl(0, 0%, 40%);
    transform: scale(1.1);
    
    box-shadow: 2px 2px 2px #000;
    z-index: 2;
}   
button:active{
    background-color: hsl(0, 0%, 50%);
    
}
.operator-btn{
    background-color: hsl(39, 100%, 50%);

}
.operator-btn:hover{
    background-color: hsl(39, 100%, 65%);
    

}
.operator-btn:hover{
    background-color: hsl(39, 100%, 75%);
}
h1{
    display: flex;
    overflow-x: auto;
    font-weight: bold;
    font-size: 3rem;
}
html{

}
h1{
    font-family: Arial;
    background-color: #3498db;
    margin: 0;
    padding: 10px;
}
.caculator{
    top: 100px;
}